@page
@model Test_Razor.Pages.DashboardModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Dashboard";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blogs">
                <div class="text-center">
                    <h2>Mis Publicaciones</h2>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form method="post">
        @if (Model.Publicaciones.Count() > 0)
        {
            <table class="table table-responsive-md">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Publicaciones.FirstOrDefault().nombre)
                    </th>

                    <th>
                        @Html.DisplayNameFor(m => m.Publicaciones.FirstOrDefault().fecha)
                    </th>

                    <th>
                        Publicación
                    </th>

                    <th>
                        Acciones
                    </th>
                </tr>
                @foreach (var pub in Model.Publicaciones)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => pub.nombre)</td>
                        <td>@Html.DisplayFor(m => pub.fecha)</td>
                        <td><a asp-route-id=@pub.id asp-page="VerPubl">Ver</a></td>
                        <td>
                            <button asp-page-handler="Delete" asp-route-id="@pub.id" class="btn btn-secondary btn-sm" onclick="return confirm('Desea eliminar esta publicación?')">Eliminar</button>
                            <a asp-route-id=@pub.id asp-page="EditarPubl" class="btn btn-secondary btn-sm">Editar</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="text-center">
                            <p>No hay publicacones</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blogs">
                <div class="text-center">
                    <h2>Mi Perfil</h2>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <div class="blog">
                    <div class="row">
                        <div class="col-md-3">
                            <p><b>Nombre: </b></p>
                        </div>
                        <div class="col-md-3">
                            <p>@Model.Usuario.nombre</p>
                        </div>
                        <div class="col-md-3">
                            <p><b>Apellidos: </b></p>
                        </div>
                        <div class="col-md-3">
                            <p>@Model.Usuario.apellidos</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p><b>Email: </b></p>
                        </div>
                        <div class="col-md-3">
                            <p>@Model.Usuario.email</p>
                        </div>
                        <div class="col-md-3">
                            <p><b>Teléfono: </b></p>
                        </div>
                        @if (Model.Usuario.telefono != null)
                        {
                            <div class="col-md-3">
                                <p>@Model.Usuario.telefono</p>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <p>Sin registrar</p>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p><b>Rut: </b></p>
                        </div>
                        <div class="col-md-3">
                            <p>@Model.Usuario.rut</p>
                        </div>
                    </div>
                    <p class="text-right"><a asp-route-id=@Model.Usuario.rut asp-page="EditarUsr" class="btn btn-primary btn-sm">Editar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (await userManager.IsInRoleAsync(Model.Admin, "Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="blogs">
                    <div class="text-center">
                        <h2>Reportes</h2>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="post">
            @if (Model.Reportes.Count() > 0)
            {
                <table class="table table-responsive-md">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(m => m.Reportes.FirstOrDefault().causal)
                        </th>

                        <th>
                            @Html.DisplayNameFor(m => m.Reportes.FirstOrDefault().descripcion)
                        </th>

                        <th>
                            @Html.DisplayNameFor(m => m.Reportes.FirstOrDefault().idPublicacion)
                        </th>
                        <th>
                            Publicación
                        </th>
                    </tr>
                    @foreach (var rep in Model.Reportes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => rep.causal)</td>
                            <td>@Html.DisplayFor(m => rep.descripcion)</td>
                            <td>@Html.DisplayFor(m => rep.idPublicacion)</td>
                            <td><a asp-route-id=@rep.idPublicacion asp-page="VerPubl">Ver</a></td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="text-center">
                                <p>No hay Reportes</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
}